@model ODataDemo.Models.Institution

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Institution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmficodeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmficodeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgcompanyParentRelationshipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgcompanyParentRelationshipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgglobalCompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgglobalCompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgglobalUltimateParentCompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgglobalUltimateParentCompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgidglobalParentCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgidglobalParentCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgissuerNameType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgissuerNameType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbglegalFormCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbglegalFormCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgparentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgparentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgultimateParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgultimateParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BicindustryGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BicindustryGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BicindustrySectorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BicindustrySectorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BicindustrySubgroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BicindustrySubgroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryAddressCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryAddressCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfDomicileCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfDomicileCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfIncorporationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfIncorporationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfRiskCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfRiskCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerActiveIssues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerActiveIssues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerInstitutionNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerInstitutionNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerIssuerTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerIssuerTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRecordTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerRecordTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ekn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ekn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeSymbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactsetIndustryCodeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactsetIndustryCodeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FitchIssuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FitchIssuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FitchIssuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FitchIssuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GicsGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GicsGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GicsIndustryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GicsIndustryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GicsSectorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GicsSectorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GicsSubIndustryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GicsSubIndustryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GkNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GkNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBbcompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBbcompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcorgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcorgId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmediateParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmediateParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustrySectorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustrySectorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustrySubgroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustrySubgroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionRoleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionRoleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionUpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalInstitutionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalInstitutionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLinkedtoInstrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLinkedtoInstrument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUltimateParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUltimateParent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IGainInstitutionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IGainInstitutionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrforeignCcyLongTermIssuerRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrforeignCcyLongTermIssuerRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrforeignCcyLongTermIssuerRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrforeignCcyLongTermIssuerRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrissuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrissuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrissuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrissuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrlocalCcyLongTermIssuerRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrlocalCcyLongTermIssuerRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JcrlocalCcyLongTermIssuerRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JcrlocalCcyLongTermIssuerRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalEntityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalEntityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalEntityTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalEntityTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalFormCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalFormCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeiassignedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeiassignedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeidisabledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeidisabledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeientityStatusCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeientityStatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leiid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leiid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeilastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeilastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeilegalForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeilegalForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeiregistrationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeiregistrationAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalIssuerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalIssuerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcissuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcissuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcissuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcissuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoodyIssuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoodyIssuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoodyIssuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoodyIssuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldUltimateParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldUltimateParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevTwelveDthreeFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevTwelveDthreeFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevTwelveDthreeLockedFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevTwelveDthreeLockedFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RambissuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RambissuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RambissuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RambissuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReutersOrgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReutersOrgId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RidomesticCcyIssuerRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RidomesticCcyIssuerRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RidomesticCcyIssuerRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RidomesticCcyIssuerRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RifcissuerRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RifcissuerRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RifcissuerRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RifcissuerRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiissuerRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiissuerRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiissuerRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiissuerRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpissuerLongTermRatingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpissuerLongTermRatingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpissuerLongTermRatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpissuerLongTermRatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfDomicileCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfDomicileCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfIncorporationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfIncorporationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateProvinceAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateProvinceAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSharesOutChangedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSharesOutChangedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSharesOutstanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSharesOutstanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSharesOutstandingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSharesOutstandingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSharesOutValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSharesOutValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveDthreeChangedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveDthreeChangedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveDthreeFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveDthreeFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveDthreeFlagChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveDthreeFlagChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveDthreeLockedFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveDthreeLockedFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveDthreeReviewedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveDthreeReviewedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimateParentChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimateParentChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimateParentLock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimateParentLock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimateParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimateParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedBusinessClassifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedBusinessClassifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedCustomProperties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedCustomProperties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedRatings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedRatings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedRelatedInstitutions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedRelatedInstitutions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedSilverCopies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedSilverCopies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedSwifts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedSwifts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedTargetSystems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedTargetSystems)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
