@model ODataDemo.Models.Price

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationChecksApplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationChecksApplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ICurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ICurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IInstrumentIdentityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IInstrumentIdentityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPricingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPricingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IReferencePriceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IReferencePriceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModificationTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModificationTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationReasonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationReasonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceSourceInformationFallback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceSourceInformationFallback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceSourceInformationPart1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceSourceInformationPart1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceUnitCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceUnitCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderPriceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderPriceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderPriceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderPriceTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuotationMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuotationMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuotationTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuotationTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnapshotTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnapshotTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spread)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spread)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedCustomProperties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedCustomProperties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedSilverCopies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedSilverCopies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
