@model ODataDemo.Models.Exchange

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BbgpricingSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BbgpricingSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayCalendarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolidayCalendarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcexchangeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcexchangeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IGainExchangeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IGainExchangeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentExchangeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentExchangeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixBcncode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixBcncode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrexchangeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrexchangeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WmExchangeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WmExchangeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedCustomProperties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedCustomProperties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedSilverCopies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedSilverCopies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
